<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
查询数据：<br>
<input id="but" type="button" value="查询ban表">
<input id="but1" type="button" value="查询server表">
<table id="tab" border="1">
</table>
<table id="tab1" border="1">
</table>
<form action="http://localhost:8088/find" method="POST">
    请输入图片序号：<input type="text" name="picname"><br>
    <input type="submit" value="Submit"></form>


<form action="/upload" method="post" enctype="multipart/form-data">
    歌单ID:<input type="text" name="playlist"><br>
    歌手:  <input type="text" name="singer"><br>
    语种:   <input type="text" name="language"><br>
    专辑ID: <input type="text" name="album"><br>
    音乐文件:  <input type="file" name="image" size="50" />
    <br />
    <input type="submit" value="上传文件" />
</form>
<script>
    var but=document.getElementById('but');
    var tab=document.getElementById('tab');
    var tab1=document.getElementById('tab1');
    var index=false;
    but.onclick=function () {
            var xmlRequest = new XMLHttpRequest();
            xmlRequest.open('get','http://localhost:8088/select',true);
            xmlRequest.send();
            xmlRequest.onreadystatechange=function () {
                if(xmlRequest.readyState==4&&xmlRequest.status==200){
                 tab.innerHTML=xmlRequest.responseText;
                   alert('查询成功');

                 // but.remove();
                }

        }
    }

    function del(ev) {
            var td = ev.parentElement;
            var tr = td.parentElement;
            var tdd=tr.firstElementChild;

                var xmlRequest1 = new XMLHttpRequest();
                xmlRequest1.open('post', 'http://localhost:8088/deldata', true);
                xmlRequest1.send(tdd.innerHTML);
                xmlRequest1.onreadystatechange = function () {
                    if (xmlRequest1.readyState == 4 && xmlRequest1.status == 200) {
                        var text=xmlRequest1.responseText;
                        alert(text);
                        //tr.remove();
                    }
                }
    }
    var but1=document.getElementById('but1');
    but1.onclick=function () {
            var xmlRequest = new XMLHttpRequest();
            xmlRequest.open('get','http://localhost:8088/select1',true);
            xmlRequest.send();
            xmlRequest.onreadystatechange=function () {
                if(xmlRequest.readyState==4&&xmlRequest.status==200){
                    tab1.innerHTML=xmlRequest.responseText;alert(1111)
                    //function ass(){
                    }
                    alert('查询成功')
                }
           // }
          //  but1.remove();
    }


</script>
</body>
</html>